{% extends "base/base_person.html" %}
{% load staticfiles %}
{% block title %}Time Travel{% endblock %}

{% block content %}
<div id="main">
    <section id="one">
        <div class="container">
            <h3>文章列表</h3>
            <div class="features">
                {% for b in blog %}
                    <article>
                        <div class="inner" style="width: 90%">
                            <a href="/blog_detail/?blog_id={{ b.blog_id }}"><h4>{{ b.blog_title }}</h4></a>
                            <p style="margin-bottom: 1em;">作者：{{ b.blog_author }}</p>
                            <p>简介：{{ b.blog_intro }}</p>
                            <div class="row">
                                <div class="col-md-6"  style="font-size:16px;text-align: left;">
                                    发布日期：{{ b.blog_post_date }}
                                </div>
                                <div class="col-md-6" style="font-size:16px;text-align: right;">
                                    修改日期：{{ b.blog_modified_date }}
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}


