{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
  	<script src="{% static 'js/jquery.quovolver.min.js' %}"></script>
	<!--[if lt IE 9]-->
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<!--[endif]-->
</head>
<body>
		<!--header starts-->
		<header class="main-header">
			<div class="backbg-color">
				<div class="navigation-bar">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!--navigation starts-->
								<nav class="navbar navbar-default">
									<div class="navbar-header">
									    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									       <span class="icon-bar"></span>
									       <span class="icon-bar"></span>
									       <span class="icon-bar"></span>
									    </button>
									    <a class="navbar-brand" href="{% url 'homepage' %}"><span class="grey">Time</span>Travel</a>
									</div>
									<div class="collapse navbar-collapse navbar-right" id="myNavbar">
									    <ul class="nav navbar-nav">
									     	<li class="active"><a href="{% url 'homepage' %}">Home</a></li>
									        <li><a href="#listed">Listing</a></li>
									        <li><a href="#agents">Agents</a></li>
									        <li><a href="#gallery">Gallery</a></li>
                                            {% if user %}
									     		<li><a href="{% url 'logout' %}">Sign out</a></li>
                        						<li><a href="{% url 'set_password' %}">Reset PassWord</a></li>
									     	{% else %}
									     		<li><a href="{% url 'signup' %}">Signup</a></li>
                        						<li><a href="{% url 'login' %}">Signin</a></li>
									     	{% endif %}
									    </ul>
									</div>
								</nav>
								<!--navigation ends-->
							</div>
						</div>
					</div>
				</div>
				<!--banner starts-->
				{% if state == 'index' %}
                    <div class="banner-text" id="banner-index">
                        <div class="container">
                            <div class="row">
                                <div class="banner-info text-center">
                                    <h2><span class="grey">TimeTravel</span> - Always on the road.</h2>
                                </div>
                                <div class="banner-heading text-center">
                                    <h3>O ever youthful, O ever weeping.</h3>
                                </div>
                                <form method="POST" action="/">
                                    {% csrf_token %}
                                    <div class="banner-search col-md-offset-2 col-md-8 col-md-offset-2">
                                        <div class="col-md-3">
                                            <select class="form-control sellone" title="search_select" name="search_key">
                                                <option value="city">City</option>
                                                <option value="attraction">Attraction</option>
                                                <option value="road">Travel Road</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <input type="text" name="search_seo" class="form-control selltwo" placeholder="Search Here">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-btn">
                                                <button type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="banner-text">
                        <div class="container">
                            <div class="row">
                                <form method="POST" action="/">
                                    {% csrf_token %}
                                    <div class="banner-search col-md-offset-2 col-md-8 col-md-offset-2">
                                        <div class="col-md-3">
                                            <select class="form-control sellone" title="search_select" name="search_key">
                                                <option value="city">City</option>
                                                <option value="attraction">Attraction</option>
                                                <option value="road">Travel Road</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <input type="text" name="search_seo" class="form-control selltwo" placeholder="Search Here">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-btn">
                                                <button type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
			</div>
			<!--banner ends-->
		</header>
		<!--header ends-->
		{% if state == 'index' %}
            <section class="intro-one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro-text text-center">
                                <h3>We Fullfill Your Dream</h3>
                                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed <span style="display:block;">sed dolor lorem cras adipiscing</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% block content %}{% endblock %}

		<!--news section-->
		<section class="news" id="news">
			<div class="container">
				<div class="row">
						<div class="news-sec">
							<div class="col-md-12">
								<div class="sec-head">
									<h2>Breaking <span>News</span></h2>
									<hr>
								</div>
							</div>
							<div class="news-colm">
								<div class="col-md-4">
									<div class="news-itm">
										<h4>We Fullfill Your Dream</h4>
										<hr class="news-line">
										<p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
										<a href="#" class="nws-btn">Read More</a>
									</div>
								</div>
								<div class="col-md-4">
									<div class="news-itm">
										<h4>We Fullfill Your Dream</h4>
										<hr class="news-line">
										<p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
										<a href="#" class="nws-btn">Read More</a>
									</div>
								</div>
								<div class="col-md-4">
									<div class="news-itm">
										<h4>We Fullfill Your Dream</h4>
										<hr class="news-line">
										<p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
										<a href="#" class="nws-btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</section>


		<!--news section-->
		<section class="contact" id="contact">
			<div class="container">
				<div class="contact-info">
					<div class="col-md-12">
						<div class="col-md-8">
							<div class="cont-txt">
								<h3>Contact Us to Sign Up for an Open House</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula dapibus mauris.</p>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<a href="#" class="cont-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="appoin-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-sec text-center">
							<h2>Interested in Buying ?</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							<a href="#"><i class="fa fa-book"></i>Schedule an Appointment!</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="row text-center">
					<ul class="footer-social">
						<li><a href="#"><i class="fa fa-facebook" id="blue"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" id="red"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" id="light-blue"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin" id="blue"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<section class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Copyright &copy; TymRail & Time Travel</p>
					</div>
				</div>
			</div>
		</section>
		<script src="{% static 'js/jquery.min.js' %}"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    	<script src="{% static 'js/owl.carousel.js' %}"></script>
    	<script src="{% static 'js/jquery.mixitup.js' %}" type="text/javascript"></script>
    	<script type="text/javascript" src="{% static 'js/jquery.quovolver.js' %}"></script>
    	<!--for smooth scrolling-->
        <script>
			$(function() {
			  $('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
			  });
			});
        </script>
    	<!--demo-->
    	<script>
	    $(document).ready(function() {
	      $("#owl-demo").owlCarousel({
	        autoPlay: 4000,
	        items : 4,
	        itemsDesktop : [1199,3],
	        itemsDesktopSmall : [979,3]
	      });

	    });

    	</script>

    	<script type="text/javascript">


		    $(document).ready(function() {

		      var owl = $("#owl-demo");

		      owl.owlCarousel();

		      // Custom Navigation Events
		      $(".next").click(function(){
		        owl.trigger('owl.next');
		      })
		      $(".prev").click(function(){
		        owl.trigger('owl.prev');
		      })

		    });
    	</script>
    	<script type="text/javascript">
            $(function(){

                // Instantiate MixItUp:

                $('#Container').mixItUp();

            });
    	</script>
    	<script>
            jQuery(function ($) {
		    // fancybox
		    $(".fancybox").fancybox({
		        modal: true, // disable regular nav and close buttons
		        // add buttons helper (requires buttons helper js and css files)
		        helpers: {
		            buttons: {}
		        }
		    });
		    // filter selector
		    $(".filter").on("click", function () {
		        var $this = $(this);
		        // if we click the active tab, do nothing
		        if ( !$this.hasClass("active") ) {
		            $(".filter").removeClass("active");
		            $this.addClass("active"); // set the active tab
		            // get the data-rel value from selected tab and set as filter
		            var $filter = $this.data("rel");
		            // if we select view all, return to initial settings and show all
		            $filter == 'all' ?
		                $(".fancybox")
		                .attr("data-fancybox-group", "gallery")
		                .not(":visible")
		                .fadeIn()
		            : // otherwise
		                $(".fancybox")
		                .fadeOut(0)
		                .filter(function () {
		                    // set data-filter value as the data-rel value of selected tab
		                    return $(this).data("filter") == $filter;
		                })
		                // set data-fancybox-group and show filtered elements
		                .attr("data-fancybox-group", $filter)
		                .fadeIn(1000);
		        } // if
		    }); // on
		}); // ready
    	</script>
    	<!--texitimonial-->
    	<script>


           $('.quotes').quovolver({
              equalHeight   : true
            });

    	</script>

	</body>
</html>