{% load staticfiles %}
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>编辑博客</title>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css"rel="stylesheet"type="text/css"/>
	</head>

	<body style="background-image:url({% static 'img/blogback.jpg' %});background-position:center; background-repeat:no-repeat;background-attachment: fixed;font-family: 方正清刻本悦宋简体;font-size: large">
        <br>
        <br>
    <form method="POST">
        {% csrf_token %}
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-10 column">
					<form method="post">
                        <a href="/blog_list">返回博客表单>></a><p/>
                        <div>
                            <input style="display: none" class="form-control" id="id_id" required name="id" value="{{ blog.id }}">
                        </div>
						<div class="form-group">
							 <label for="exampleInputEmail1">博客题目（づ￣3￣）づ╭❤～：<br></label>
							 <input type="text" style="width:250px; height:35px;background:rgba(133, 133, 133, 0.1);"  class="form-control" id="id_title" required name="new_title" autofocus value="{{ blog.title }}">
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">旅游景点（づ￣3￣）づ╭❤～:<br></label>
							 <input type="text" style="width:240px; height:35px;background:rgba(133, 133, 133, 0.1);" class="form-control" id="id_author" required name="new_author" value="{{ blog.author }}">
						</div>
                        <div>
							<label for="id_content">正文（づ￣3￣）づ╭❤～:<br></label>
							<textarea type="text" style="width:1000px; height:600px;background:rgba(133, 133, 133, 0.1);" class="form-control" id="id_content" required name="new_content">{{ blog.content }}</textarea>
						</div><br>
                        <input type="submit" style="width:70px; height:30px;" class="btn btn-default" value="保存"><br><br>
					<a href="/blog_list">返回博客表单>></a><p/>
                    </form>
				</div>
				<div class="col-md-1 column">
				</div>
			</div>
		</div>
    </form>
</body>
</html>