{% load staticfiles %}
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>博客编辑</title>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css"rel="stylesheet"type="text/css"/>
	</head>

	<body style="background-image:url({% static 'img/blogback.jpg' %});background-position:center; background-repeat:no-repeat;background-attachment: fixed;font-family: 方正清刻本悦宋简体;font-size: large">
        <br>
        <br>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-10 column">
					<form method="post">
						{% csrf_token %}
                        <a href="/blog_list">返回博客表单>></a><p/>
                        {% if state == 'success' %}
                        <div style="width: 100%;">添加成功，(๑•ᴗ•๑)</div>
                        {% endif %}
						<div class="form-group">
							 <label for="exampleInputEmail1">博客题目在这里（づ￣3￣）づ╭❤～：<br></label>
							 <input type="text" style="width:250px; height:35px;background:rgba(133, 133, 133, 0.1);" class="form-control" id="id_title" required name="title" autofocus>
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">旅游景点在这里（づ￣3￣）づ╭❤～:<br></label>
							 <input type="text" style="width:250px; height:35px;background:rgba(133, 133, 133, 0.1);" class="form-control" id="id_author" required name="author">
						</div>
                        <div>
							<label for="id_content">正文在这里（づ￣3￣）づ╭❤～:<br></label>
							<textarea type="text" style="width:1000px; height:700px;background:rgba(133, 133, 133, 0.1);" class="form-control" id="id_content" required name="content"></textarea>
						</div><br>
                        <input type="submit" style="width:70px; height:30px;background:rgba(133, 133, 133, 0.1);" class="btn btn-default" value="保存"><br><br>
					<a href="/blog_list">返回博客表单>></a><p/>
				</div>
				<div class="col-md-1 column">
				</div>
			</div>
		</div>
	</body>